.span3
  %p.description
    We are experienced in Ruby on Rails, PHP, JavaScript / CoffeeScript, MySQL, MongoDB, PostgreSQL, Kohana, CodeIgniter, Zend Framework. I have worked in almost every facet of web developing, from blogs to social networks. From the beginning, we have remained punctual, communicative, and cooperative with every client I have worked with. We make developing our passion, and that is reflected in the final result. Feel free to contact we for any reason.
.span9
  #myCarousel.carousel.slide
    .carousel-inner
      .active.item
        %img{:alt => "", :src => "images/ruby-on-rails.jpg"}
      .item
        %img{:alt => "", :src => "images/php.jpeg"}
      .item
        %img{:alt => "", :src => "images/mysql.jpg"}
      .item
        %img{:alt => "", :src => "images/mongo_db.jpg"}
    %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
    %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›